.bntheader:hover{
    color: rgb(255, 0, 0);
    border-bottom: 2px solid red;
}

.bntheader:active{
    transform: scale(0.95);
}

.bntheader:hover {
  border-bottom: 2px solid red;
}

.bntheader.ativo {
  border-bottom: 2px solid red;
}

.bntsubmenucima:hover{
    background: linear-gradient(90deg,red,rgb(128, 0, 0));
}

.bntsubmenubaixo:hover{
    background: linear-gradient(90deg,red,rgb(128, 0, 0));
}

.bntsubmenucima:active,.bntsubmenubaixo:active{
    background-color: rgb(194, 0, 0);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.2s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}