
#posicao,#posicao2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 95vw;
    margin-top: 14vh;
    border: 2px solid #3e3e3e;
    border-radius: 12px;
    padding: 2%;
}

#posicao2{
    margin:1%;
    justify-content: space-around;
}

#imgcontain {
    height: auto;
    width: 90%;
    border-radius: 12px;
}

#contain1,
#contain2 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2
}

p{
    text-align: center;
}

@media (max-width:768px) {
    #posicao{
        flex-direction: column;
        height: auto;
        padding: 1.5%;
    }

    #contain1{
        width: 100%;
    }
    #contain2 {
        width: 90%;
    }

    #imgcontain {
    height: auto;
    width: 100%;
    border-radius: 12px;
    }
}
    