.bntheader:hover{
    color: rgb(255, 0, 0);
}

.bntheader:active{
    transform: scale(0.95);
}

.bntsubmenucima:hover{
    background-color: rgb(231, 0, 0);
}

.bntsubmenubaixo:hover{
    background-color: rgb(231, 0, 0);
}

.bntsubmenucima:active,.bntsubmenubaixo:active{
    background-color: rgb(194, 0, 0);
}